#Connection with Postgresql

export SECRET_KEY=secret_key

#Postgres variables
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=admin
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_DB=userprofile